<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,=">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style type="text/css">
        html, body, div, span, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        abbr, address, cite, code,
        del, dfn, em, img, ins, kbd, q, samp,
        small, strong, sub, sup, var,
        b, i,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section, summary,
        time, mark, audio, video {
            margin:0;
            padding:0;
            border:0;
            outline:0;
            font-size:100%;
            vertical-align:baseline;
            background:transparent;
        }

        body {
            line-height:1;
        }

        :focus {
            outline: 1;
        }

        article,aside,canvas,details,figcaption,figure,
        footer,header,hgroup,menu,nav,section,summary {
            display:block;
        }

        nav ul {
            list-style:none;
        }

        blockquote, q {
            quotes:none;
        }

        blockquote:before, blockquote:after,
        q:before, q:after {
            content:'';
            content:none;
        }

        a {
            margin:0;
            padding:0;
            border:0;
            font-size:100%;
            vertical-align:baseline;
            background:transparent;
        }

        ins {
            background-color:#ff9;
            color:#000;
            text-decoration:none;
        }

        mark {
            background-color:#ff9;
            color:#000;
            font-style:italic;
            font-weight:bold;
        }

        del {
            text-decoration: line-through;
        }

        abbr[title], dfn[title] {
            border-bottom:1px dotted #000;
            cursor:help;
        }

        table {
            border-collapse:collapse;
            border-spacing:0;
        }

        hr {
            display:block;
            height:1px;
            border:0;
            border-top:1px solid #cccccc;
            margin:1em 0;
            padding:0;
        }

        input, select {
            vertical-align:middle;
        }
        body{
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 400
        }
        * {
            box-sizing: border-box;
            font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Heiti SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", sans-serif;
        }
    </style>

    <% for(var i=0; i<htmlWebpackPlugin.files.css.length; i++) {%>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[i] %>" />
    <% } %>

</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/ace.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/keybinding-emacs.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/keybinding-vim.js"></script>

<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/ext-keybinding_menu.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/ext-language_tools.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/ext-searchbox.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/ext-settings_menu.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/mode-markdown.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/theme-github.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/theme-chrome.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/theme-cobalt.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/theme-eclipse.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/theme-monokai.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/theme-tomorrow.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/theme-tomorrow_night.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/theme-xcode.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/theme-monokai.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/theme-solarized_dark.js"></script>
<script type="application/javascript" src="https://s0.meituan.net/xm/ace-builds/src-noconflict/theme-solarized_light.js"></script>

<% for(var i=0; i<htmlWebpackPlugin.files.js.length; i++) {%>
<script type="application/javascript" src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
<% } %>
</body>
</html>
