.cm-s-base16-light span.cm-variable-2 { color: #05a; }
.cm-s-base16-light span.cm-link{
    color: #170;
}
.cm-s-base16-light span.cm-string{
    color: #a11;
}
.weditor-body .content-container .CodeMirror .cm-quote{
    color: #090;
}
.cm-s-base16-light span.cm-comment{
    color: #a50;
}
