body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.mdeditor-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    div {
        box-sizing: border-box;
    }


    h1, h2, h3 {
        line-height: 40px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 10px 0;
        font-family: inherit;
        font-weight: 700;
        line-height: 20px;
        color: #111;
        text-rendering: optimizelegibility;
    }

    h1 {
        margin: 50px 0 20px;
        font-size: 30px;
    }
    h2 {
        margin: 35px 0 20px;
        font-size: 26px;
    }
    h3 {
        margin: 20px 0;
        font-size: 21px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 16px;
    }
    blockquote {
        padding: 10px 15px;
        border-left-style: solid;
        border-left-width: 10px;
        margin: 0 0 20px;
        border-color: #D6DBDF;
        background: none repeat scroll 0 0 rgba(102,128,153,.05);
    }
    hr {
        display: block;
        height: 2px;
        border: 0;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #eee;
        margin: 1em 0;
        padding: 0;
    }
    pre, code {
        color: #000;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 0.94em; /* 0.94 = 0.88 + (1.00 - 0.88) / 2 */
        border-radius: 3px;
        background-color: #F8F8F8;
        border: 1px solid #CCC;
    }
    pre {
        white-space: pre;
        white-space: pre-wrap;
        word-wrap: break-word;
        padding: 5px;
    }
    pre code {
        border: 0px !important;
        background: transparent !important;
        line-height: 1.3em;
    }
    code {
        padding: 0 3px 0 3px;
    }
    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    sup {
        top: -0.5em;
    }
    sub {
        bottom: -0.25em;
    }
    ul, ol {
        margin: 1em 0;
        padding: 0 0 0 2em;
    }
    li p:last-child {
        margin: 0
    }
    dd {
        margin: 0 0 0 2em;
    }
    img {
        border: 0;
        -ms-interpolation-mode: bicubic;
        vertical-align: middle;
    }
    table {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-collapse: separate;
        border-left: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 100%;
        margin-bottom: 20px;
        max-width: 100%;
        background-color: transparent;
        border-spacing: 0;
    }
    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        border: none;
    }

    td, th {
        vertical-align: top;
        padding: 4px 10px;
        border: none;
    }

    tr:nth-child(even) td, tr:nth-child(even) th {
        background-color: rgba(102,128,153,.05);
    }

    table th, table td {
        border-left: 1px solid #ddd;
        padding: 8px;
        line-height: 20px;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
    blockquote p:last-child{
        margin: 0px;
    }
    p {
        line-height: 1.2;
        margin-bottom: 20px;
    }
    li {
        margin: 10px 0;
    }
}

.weditor-body {
    padding: 0;
    position: absolute;
    left: 0;
    top: 40px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    background-color: #ffffff;

    .content-container {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 50%;
        box-sizing: border-box;
        background-color: #ffffff;
        box-shadow: 0 0 0 0.1px #d1d1d1, 0 0 1px 0.1px #ccc;
        border: 0;
        padding: 10px 10px;
        margin: 0;
        .ace_editor {
            border: none;
            background-color: #ffffff;
            font-size: 14px;
            height: 100%;
            &.ace-github .ace_marker-layer .ace_active-line {
                background: #FFFFFF !important;
            }
            & * {
                font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
            }

            .cm-header-1 {
                font-size: 2em;
            }
            .cm-header-2 {
                font-size: 1.75em;
            }
            .cm-header-3 {
                font-size: 1.5em;
            }
            .cm-header-4 {
                font-size: 1.3em;
            }
            .cm-header-5 {
                font-size: 1.2em;
            }
            .cm-header-6 {
                font-size: 1.15em;
            }

            .cm-quote {
                color: #90a959;
                font-style: italic;
            }

            a {
                color: #0645ad;
                text-decoration: none;
            }
            a:visited {
                color: #0b0080;
            }
            a:hover {
                color: #06e;
            }
            a:active {
                color: #faa700;
            }
            a:focus {
                outline: thin dotted;
            }
            a:hover, a:active {
                outline: 0;
            }

            .ace_gutter {
                background-color: #FFFFFF;
            }
        }
    }

    .mdeditor-preview {
        position: absolute;
        right: 0;
        width: 50%;
        bottom: 0;
        top: 0;
        box-sizing: border-box;
        font-size: 14px;
        background-color: #ffffff;
        border-left: 1px solid #dddddd;
        margin: 0;
        padding: 10px 20px;
        overflow: hidden;
        overflow-y: auto;
        img {
            max-width: 100%;
        }
    }

    .editormd-toolbar {
        width: 100%;
        min-height: 37px;
        background: #f0f0f0;
        display: none;
        position: fixed;
        top: 55px;
        left: 0;
        z-index: 10;
        //box-shadow: 0 2px 4px hsla(0,0%,8%,.15);
        &.scroll {
            box-shadow: 0 2px 4px hsla(0, 0%, 8%, .15);
        }
        border: none;
        .editormd-menu {
            width: 910px;
            margin: 0 auto;
        }
        .editormd-menu > li > a {
            border: none;
            i {
                font-weight: 200;
            }
        }
    }
}

.rc-dropdown {
    background: #FFFFFF;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.10);
    border: none !important;
    .rc-dropdown-menu {
        border: none !important;
        border-radius: 2px;
    }
}

.rc-dropdown-menu-item {
    width: 150px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding: 0 !important;
    padding-left: 20px !important;
    border: none !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}

//.bar{
//    position:absolute;
//    background:rgba(100,100,200,0.5);
//    z-index:40; width:2px!important
//}
//
//.bar::before{
//    position:absolute;
//    background:rgba(100,100,200,0.5);
//    z-index:999;
//    top: -100%; content: 'Khoa Ma'; left:0px; font-family: Arial; padding:1px 2px
//}
